.icons {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;

    &.column {
        flex-direction: column;

        li {
            margin: 1.25em 0;
        }
    }

    li {
        position: relative;
        list-style: none;
        width: 50px;
        height: 50px;
        margin: 0 1.15em;
        // transform: rotate(-30deg) skew(25deg); // -15deg 15deg

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            transition: all .5s;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.8em;
            border-radius: 10px;
            // border-top: 1px solid #ddd;
            // border-right: 1px solid #ddd;
        }

        &:nth-child(1) span {
            background: radial-gradient(circle at 30% 107%, #fdf497ee 5%, #fd5949ee 45%, #d6249fee 60%, #285AEBee 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497ee 5%, #fd5949ee 45%, #d6249fee 60%, #285AEBee 90%);
        }

        &:nth-child(2) span {
            background: #3f5ea2ee;
        }

        &:nth-child(3) span {
            background: #25D366ee;
        }

        &:hover {
            span {
                &:nth-child(5) {
                    transform: translate(-40px, 0);
                    opacity: 1;
                }

                &:nth-child(4) {
                    transform: translate(-30px, 0);
                    opacity: .8;
                }

                &:nth-child(3) {
                    transform: translate(-20px, 0);
                    opacity: .6;
                }

                &:nth-child(2) {
                    transform: translate(-10px, 0);
                    opacity: .4;
                }

                &:nth-child(1) {
                    transform: translate(0, 0);
                    opacity: .2;
                }
            }
        }

    }
}


















/* .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a {
        color: #333;
        text-decoration: none;
        margin: 0 1.2em;

        svg {
            font-size: 2.4em;
        }

        &:first-child {
            color: #24da66;
        }

        &:nth-child(2) {
            color: #fd5949; */
/* background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background-clip: text;
            -webkit-background-clip: text; */
/*         }

        &:last-child {
            color: #0e76a8;
        }
    }
} */