.text-animate-hover {
    transition: all 0.3s ease;
    animation: animate 2s cubic-bezier(.6, .7, .8, 1) 1; // !! CUIDADO, esto deberia ser solo para Brand

    &:hover {
        color: #0c919170;
    }
}

@keyframes animate {
    0% {
        color: #555;
    }
    50% {
        color: #0c919170;
    }
    100% {
        color: #555;
    }
}