.home {
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;
    z-index: 999;
    top: 65px;
    padding: 3.5em;

    // Para probar el loader
    display: flex;
    justify-content: center;
    align-items: center;
}