@import '../../index.scss';

.navbar {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fbfbfbff; //transparent;
    padding: 1em;
    box-shadow: 0 0 8px #40404069;
    overflow: hidden; // ?

    /* &.open {
        background-color: #3dbdd610;
    } */

    .navbar-wrapper {
        width: 100%;
        height: 100%;
        padding: 0 2em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        & div {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        .logo-container {
            height: 100%;
            flex: 0.8;
            display: flex;
            align-items: center;

            
                img {
                    max-height: 110%; // 48px
                    margin-right: 0.5em;

                    // * REVISAR
                    animation: animateLogo 2s cubic-bezier(.6, .7, .8, 1) 1;
                    
                    @keyframes animateLogo {
                        0% {
                            transform: rotate(0deg);
                        }
                        50%{
                            transform: rotate(90deg);
                        }
                        100% {
                            transform: rotate(0deg);
                        }
                    }
                }
            
            a {
                text-decoration: none;

                h1 {
                    letter-spacing: -1px;
                    font-size: 2.6em;
                    font-weight: 700;
                    color: #444;
                }
            }

        }

        .nav-items {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .item-container {
                max-height: 100%;

                a {
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 600;
                    color: #444;
                    letter-spacing: 1px;
                    height: 100%;
                    position: relative;
                    transition: all .4s ease;
                    
                    &:not(.active):hover {
                       color: #111; 
                    
                        &::before {
                            content: '';
                            width: 100%;
                            height: 35%; //55%;
                            border-radius: 4px;
                            background-color: hwb(190 24% 16%);
                            opacity: 0.8;
                            position: absolute;
                            bottom: 5px; //7px;
                            left: 0;
                            z-index: -1;

                            filter: blur(0.05em); // ?
                        } 
                    }

                    &.active {
                        color: #3dbdd6;
                        cursor: default;
                    }
                }
            }
        }

        .burguer {
            flex-direction: column;
            width: 3rem; // ?
            height: 3rem; // ?
            border: 0;
            background: transparent;
            gap: .65rem; // ?
            transform: scale(0.8);
            position: relative;
            top: 7px;
            cursor: pointer;
            display: none;

            & > div {
                background: #444;
                height: 2px; // ?
                width: 100%;
                border-radius: 5px;
                transition: all .5s;
                transform-origin: left;
            }

            &.open div:first-child {
                transform: rotate(45deg);
            }

            &.open div:nth-child(2) {
                opacity: 0;
            }

            &.open div:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

// Mediaqueries
.navbar {

    @include mobile {
        padding: .4em;
    }

    @include tablet-mobile {
        height: 80px;
    }

    .navbar-wrapper {

        @include mobile {
            padding: 0 1em;
        }

        .logo-container {
            img {

                @include mobile {
                    height: 75%;
                }
            }

            h1 {

                @include mobile {
                    font-size: 1.9em;
                }
            }
        }

        .nav-items {

            @include tablet-desktop {
                justify-content: space-between;
                gap: 0.8em;
            }
        
            @include tablet-portatil{
                display: none;
            }

            @include tablet-mobile {
                display: none;
            }

            .item-container {

                a {

                    @include tablet-desktop {
                        font-size: 0.9em;
                    }
                }
            }
        }

        .burguer {
            
            @include tablet-portatil {
                display: flex;
            }

            @include tablet-mobile {
                display: flex;
            }
        }
    }

}