@import '../../index.scss';

.navbar {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fbfbfbf9;
    padding: 1em;
    box-shadow: 0 0 8px #40404069;
    // overflow: hidden; // ?

    .navbar-wrapper {
        width: 100%;
        height: 100%;
        padding: 0 2em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        & div {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }

        .logo-container {
            height: 100%;
            flex: 0.8;
            display: flex;
            align-items: center;

            img {
                max-height: 100%;
                margin-right: 0.5em;

                // * REVISAR
                animation: animateLogo 2s cubic-bezier(.6, .7, .8, 1) 1;
                @keyframes animateLogo {
                    0% {
                        transform: rotate(0deg);
                    }
                    50%{
                        transform: rotate(180deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
            }

            h1 {
                letter-spacing: -1px;
                font-size: 2.1em;
                color: #444;
            }
        }

        .nav-items {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: space-around;

            .item-container {
                max-height: 100%;

                a {
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 600;
                    color: #555;
                    letter-spacing: 1px;
                    height: 100%;
                    position: relative;
                    
                    &:hover::before {
                        content: '';
                        width: 100%;
                        height: 38%;
                        border-radius: 5px; // ?
                        background-color: #0c919150;
                        position: absolute;
                        bottom: 5px; // ?
                        left: 0;
                        filter: blur(0.08em); // ?
                    } 
                }
            }
        }
    }
}

// Mediaqueries
.navbar {

    @include mobile {
        padding: 0.4em;
    }

    @include tablet-mobile {
        height: 80px;
    }

    .navbar-wrapper {

        @include mobile {
            padding: 0;
        }

        .logo-container {
            img {

                @include mobile {
                    margin-right: 0.1em;
                    height: 70%;
                }
            }

            h1 {

                @include mobile {
                    font-size: 1.5em;
                }
            }
        }

        .nav-items {

            @include tablet-desktop {
                justify-content: space-between;
                gap: 0.8em;
            }
        
            @include tablet-mobile {
                display: none;
            }

            .item-container {

                a {

                    @include tablet-desktop {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }

}